.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.main .focus {
    position: relative;
    float: left;
    width: 720px;
    height: 455px;
    background-color: purple;
}

.main .focus a {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    background-color: rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
}

.main .focus .arr-l {
    left: 0;
    transform: rotateY(180deg);
}

.main .focus .arr-r {
    right: 0;
}

.main .focus .circle {
    position: absolute;
    left: 50px;
    bottom: 20px;
}

.main .focus .circle li {
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .5);
    margin: 0 5px;
    cursor: pointer;
}

.circle li.current {
    background-color: #fff;
}


.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
    overflow: hidden;
}

.main .news {
    height: 163px;
    border: 1px solid #ccc;
}

.newsflash .news-hd {
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
}

.newsflash .news-hd a{
    float: right;
    font-size: 12px;
}

.newsflash .news-bd {
    padding: 10px 15px;
}

.newsflash .news-bd a{
    display: block;
    height: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.newsflash .news-bd a span{
    display: inline-block;
    width: 35px;
    height: 16px;
    margin-right: 5px;
    font-weight: 700;
    text-align: center;
    color: #e33333;
    line-height: 16px;
    background-color: rgba(225,37,27,.08);
}


.main .lifeservice {
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice li {
    position: relative;
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.lifeservice li a {
    display: block;
    /* 解决a引起的外边距塌陷 */
    overflow: hidden;
    height: 100%;
    text-align: center;
}

.lifeservice li a i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 5px auto;
    background: url(../img/icons.png) no-repeat;
}

.lifeservice .lifeservice_icon_huafei {
    background-position: -17px -16px;
}

.lifeservice .lifeservice_icon_feiji {
    background-position: -79px -16px;
}

.lifeservice span {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: green;
}


.main .bargain {
    height: 75px;
    margin-top: 5px; 
}


/* 推荐服务 start */
.recommend {
    height: 163px;
    margin-top: 10px;
    /* background-color: pink; */
}

.recom-hd {
    float: left;
    width: 200px;
    height: 163px;
    background-color: #333;
    text-align: center;
}
.recom-hd img {
    margin: 30px 0 10px 0;
}

.recom-hd p {
    color: #fff;
    font-size: 18px;
}

.recom-bd {
    float: left;
    width: 1000px;
    height: 145px;
    padding: 9px 0;
    overflow: hidden;
    background-color: #EDEEED;
}

.recom-bd li {
    float: left;
    width: 250px;
    height: 145px;
    margin-left: -1px;
    border-left: 1px solid #ccc;
}


/* 推荐服务 end */


/* 楼层 start */
.box-hd {
    margin-top: 10px;
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab-list {
    float: right;
    line-height: 30px;
}

.tab-list  .divider {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 10px 0 10px;
}

.box-hd li {
    float: left;
}

.box-bd {
    height: 360px;
    /* background-color: pink; */
}

.tab-con {
    height: 360px;
}

.tab-con li {
    float: left;
    height: 360px;
    overflow: hidden;
}

/* 209 329 219 219 219 */

.w209 {
    width: 209px;
    background-color: #f9f9f9;
}

.w329 {
    width: 329px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}

.tab-con .tab-con-item {
    border-bottom: 1px solid #ccc;
}

.tab-con .tab-con-list {
    margin-bottom: 15px;
    overflow: hidden;
}

.tab-con .tab-con-list li{
    width: 86px;
    height: 32px;
    margin-left: 10px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.box-bd img {
    transition: all 0.2s;
}
.box-bd img:hover {
    margin-left: 8px;
}

/* 楼层 end */


/* 电梯导航 start */
.fixedtool {
    position: fixed;
    left: 50%;
    top: 100px;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;
}

.fixedtool li {
    height: 32px;
    border-bottom: 1px solid #ccc;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
}

.fixedtool li.current {
    background-color: #c81623;
}

.fixedtool li.current a{
    color: #fff;
}
/* 电梯导航 end */